<!DOCTYPE html>
<html>
 <head> 
  <meta charset="utf-8" /> 
 </head> 
 <body> 
  <div class="layout" style="width:620px;height:380px;position:relative;"> 
   <img src="img/model.png" style="width:620px;height:380px;" /> 
   <img id="header" style="width:164px;height:164px;position:absolute;top:106px;left: 60px;" src="img/header.png" />
   <img src="img/log_box.png" style="height:380px;position:absolute;top:0px;left:0px;" /> 
   <img id="code" style="position:absolute;width:120px;height:120px;bottom:90px;right:40px;" src="" />
   <span id="name" style="position:absolute;top:170px;left:290px;color:#999;font-size:32px;font-weight:bold;">liyuan</span>
  </div>  
 </body>
</html>